@CHARSET "ISO-8859-1";
body{
	background-image: url("img/background.jpg");
}
h1 {
	text-align: center;
	background-color: #2030BF;
	padding: 20px;
	color: white;
	margin: 0 auto;
	margin-bottom: 10px;
	font-family: arial;
}

fieldset {
	text-align: center;
	margin: 0 auto;
	width: 400px;
	background-color: #F1F2FA;
}

table {
	width: 80%;
	text-align: left;
	margin-left: 10px;
	line-height: 50px;
	align: center;
	background-color: #F1F2FA;
}
table th, td {
	border: 1px solid black;
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #F1F2FA;
    position: absolute;
}
li a:hover {
    background-color: #2030BF;
    color: white;
}
#inicio a:link, #inicio a:visited {
    background-color: #2030BF;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


#inicio a:hover, #inicio a:active {
    background-color: blue;
}
#links {
	position: absolute;
	top: 30%;
	left: 22%;
}

#links2 {
	position: absolute;
	top: 140px;
	left: 10px;
	font-size: 22px;
	line-height: 50px;
	color: black;
	border: 2px;
}

#inicio {
	text-align: center;
	
}
#condicionesuso {
	text-align: justify;
	border-style: solid;
	border-width: 1px;
	width: 1000px;
	height: 600px;
	margin: 0 auto;
	overflow: auto;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #F1F2FA;
}

.subtitulo {
	font-size: x-large;
}

.plus {
	color: blue;
}

.plan {
	font-size: x-large;
	text-align: justify;
}

.bandera {
	max-width: 5%;
	max-height: 5%;
	width: auto;
	height: auto;
	position: absolute;
	top: 20px;
	right: 10px;
}
.logo {
	max-width: 15%;
	max-height: 15%;
	width: auto;
	height: auto;
	position: absolute;
	top: 10px;
	left: 20px;
}
.centrartabla{
	margin: 0px auto;
}
.imgform{
	max-width: 20%;
	max-height: 20%;
	width: auto;
	height: auto;
	margin-right: 10%
}
.imgtabla{
	max-width: 20%;
	max-height: 20%;
	width: auto;
	height: auto;
}
.imgterms{
	max-width: 20%;
	max-height: 20%;
	width: auto;
	height: auto;
	margin-left: 10%;

}