@CHARSET "ISO-8859-1";
header {
	text-align: center;
	background-color: blue;
	padding: 10px;
}
nav {
	text-align: center;
	background-color: red;
	padding: 10px;
}

section {
	background-color: orange;
	padding-bottom: 50px;
	padding-top: 50px;
	text-align: center;
}
article{
	padding-bottom: 50px;
	padding-top: 50px;
	background-color: green;
	text-align: center;
}
aside {
	padding-top: 110px;
	padding-bottom: 110px;
	width: 200px;
	float:right;
	text-align: center;
	background-color: yellow;
	
	
}
footer {
	background-color: purple;
	text-align: center;
	padding: 10px;
	clear:both;
}