@CHARSET "ISO-8859-1";
header {
	text-align: center;
	background-color: blue;
	padding: 10px;
}
nav {
	text-align: center;
	background-color: red;
}

section {
	background-color: orange;
	text-align: center;
}
article{
	float: left;
	background-color: green;
}
aside {
	width:25%;
	text-align: center;
	margin-left: 5px;
	padding-left: 20px;
	background-color: yellow;
}