Create DataBase Bichos
GO
USE Bichos
GO
/****** Object:  Table BI_Clientes    Script Date: 21/11/2016 ******/

CREATE TABLE BI_Clientes(
	Codigo Int NOT NULL,
	Telefono char(9) NOT NULL,
	Direccion varchar(30) NOT NULL,
	NumeroCuenta char(24) NULL,
	Nombre VarChar(30)
 ,CONSTRAINT PK_Clientes PRIMARY KEY (Codigo)
 ,CONSTRAINT [CK_Telefono] CHECK  (Telefono like '[679][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]')
) 

GO

/****** Object:  Table BI_Enfermedades    Script Date: 21/11/2016 ******/

CREATE TABLE BI_Enfermedades(
	ID SmallInt Not NULL Identity (1,1)
	,Nombre VarChar(30) NOT NULL
	,CONSTRAINT PK_Enfermedades PRIMARY KEY (ID)
)

GO
/****** Object:  Table [dbo].[BI_Mascotas]    Script Date: 21/11/2016 19:08:18 ******/

CREATE TABLE BI_Mascotas(
	Codigo char(5) NOT NULL,
	Raza varchar(30) NOT NULL,
	Especie varchar(30) NOT NULL,
	FechaNacimiento date NOT NULL,
	FechaFallecimiento date NULL,
	Alias varchar(20) NOT NULL,
	CodigoPropietario Int Not NULL,
 CONSTRAINT PK_Mascotas PRIMARY KEY (Codigo)
 ,CONSTRAINT FK_MascotasPropietarios Foreign Key (CodigoPropietario) REFERENCES BI_Clientes (Codigo)
)

GO
/****** Object:  Table BI_Mascotas_Enfermedades    Script Date: 21/11/2016 ******/

CREATE TABLE BI_Mascotas_Enfermedades(
	IDEnfermedad SmallInt NOT NULL,
	Mascota char(5) NOT NULL,
	FechaInicio date NOT NULL,
	FechaCura date NULL,
 CONSTRAINT PK_Mascotas_Enfermedades PRIMARY KEY (IDEnfermedad,	Mascota)
 ,CONSTRAINT FK_MascotasEnfermedades_Enfermedades FOREIGN KEY(IDEnfermedad) REFERENCES BI_Enfermedades (ID) ON UPDATE CASCADE
 ,CONSTRAINT FK_MascotasEnfermedades_Mascotas FOREIGN KEY(Mascota) REFERENCES BI_Mascotas (Codigo) ON UPDATE CASCADE
)

GO
/****** Object:  Table BI_Visitas    Script Date: 21/11/2016 ******/

CREATE TABLE BI_Visitas(
	IDVisita Int Not NULL Identity(1,1),
	Fecha smalldatetime NOT NULL,
	Temperatura tinyint NULL,
	Peso int NULL,
	Mascota char(5) NOT NULL,
 CONSTRAINT PK_Visitas PRIMARY KEY (IDVisita)
 ,CONSTRAINT FK_Visitas_Mascotas FOREIGN KEY(Mascota) REFERENCES BI_Mascotas (Codigo)
)

GO
/* Datos de prueba */

INSERT INTO BI_Clientes (Codigo,Telefono,Direccion,NumeroCuenta,Nombre)
     VALUES (101,'600000000','Desconocida',Null,'Propietario Desconocido')
	 ,(102,'601782667','Avenida de América, 104','ES4908230723061224560890','Josema Ravilla')
	 ,(103,'622687514','Calle Indalecio Prieto, 41','ES3248260728069924930821','Matilde Mente')
	 ,(104,'621479305','Plaza de la Libertad, 14','ES8046875230612245608905','Paco Barde')
	 ,(105,'654713356','Calle Sahara, 37','ES8848230523661824360834','Felipe Cador')
	 ,(106,'658004983','Calle Larga, 43','ES4901230123001234567890','Penelope Tarda')
GO
INSERT INTO BI_Enfermedades (Nombre)
     VALUES ('Borreliosis '),('Campilobacteriosis'),('Rabia'),('Sarna')
	 ,('Hidatidiosis'),('Toxoplasmosis'),('Micobacteriosis'),('Psitacosis')
	 ,('Otitis canina'),('Artritis'),('Moquillo'),('Parvoriosis')
	 ,('Leishmaniosis'),('Filariosis'),('Leucemia'),('Inmunodeficiencia')
GO
INSERT INTO BI_Mascotas_Enfermedades (IDEnfermedad,Mascota,FechaInicio,FechaCura)
     VALUES
           (1,'PH002','20140601','20140821')
		   ,(3,'PH004','20141011','20150417')
		   ,(11,'PM004','20120216','20120511')
		   ,(13,'PM005','20161030',Null)       

GO

